.places {
  display: flex;
  margin: 15px auto;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  }

.places h1 {
  display: block;
  width: 100%;
  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 5px;
  text-align: left;
  font-size: 30px;
}

 .places article {
    display: flex;
    width: 390px;
    margin: 20px;
    padding: 10px 20px;
 
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;

    border: 1px solid #FF5A5F;
    border-radius: 4px;
    text-align: center;
 }

article h2{
  font-size: 30px;
  padding: 0px;
  margin: 10px auto;
 }